<div class="portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="glyphicon glyphicon-calendar"></i>
            <span class="caption-subject text-uppercase" contentEditable="true"> {{portfolio.portfolioName}}</span>
        </div>
        <div class="actions">
            <span ng-hide="invalidTikers==null">{{invalidTikers}}</span>
            <input ng-model="tickername">
            <a href="javascript:;" class="btn" ng-click="addPosition()" ng-disabled="tickername==null || portfolio.positions.length>=5">
                <i class="glyphicon glyphicon-search" ></i> Add
            </a>
            <a href="javascript:;" class="btn" ng-click="savePortfolio()">
                <i class="glyphicon glyphicon-floppy-disk"></i> Save
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="30%">Company Name</th>
                    <th width="10%">Symbol</th>
                    <th width="20%">Last Trade Price</th>
                    <th width="10%">Quote Price</th>
                    <th width="15%">Shares</th>
                    <th width="15%">Market Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="position in portfolio.positions | orderBy : ticker" >
                    <td>{{position.companyName}}</td>
                    <td>{{position.ticker}}</td>
                    <td ng-class="{'success': position.lastTradePriceOnly>position.quotePrice,'danger':position.lastTradePriceOnly<position.quotePrice}">{{position.lastTradePriceOnly| number:3}}</td>                    
                    <td>{{position.quotePrice}}</td>
                    <td><input type="number" ng-pattern="/^[0-9]{1,7}$/" ng-model="position.quoteSize"></td>
                    <td>{{position.lastTradePriceOnly*position.quoteSize | number:3}}</td>
                    <td>
                        <a href="javascript:;" class="btn" ng-click="deletePosition(position)">
                           <i class="glyphicon glyphicon-remove"></i> Remove
                       </a>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>